<!-- Footer -->
<footer class="py-5">
    <div class="container">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="https://purpletech.com.br" class="font-weight-bold ml-1" target="_blank">PurpleTech</a>
                </div>
            </div>
            <div class="col-xl-6">
                <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                    <li class="nav-item">
                        <a href="https://github.com/souzajr" class="nav-link" target="_blank">GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.behance.net/purpletech" class="nav-link" target="_blank">Behance</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Argon Scripts -->
<!-- Core -->
<script src="/views/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/views/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- Argon JS -->
<script src="/views/assets/js/argon.js?v=1.0.0"></script>

<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
<% if(message) { %>
<script>
    const msg = JSON.parse('<%- message %>')
    if (msg !== 'Sucesso!')
        alertify.notify(msg, 'error', 5)
    else
        alertify.notify(msg, 'success', 5)
</script>
<% } %>
</body>

</html>