<!-- Footer -->
<footer class="py-5">
    <div class="container">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="https://purpletech.com.br" class="font-weight-bold ml-1">PurpleTech</a>
                </div>
            </div>
            <div class="col-xl-6">
                <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                    <li class="nav-item">
                        <a href="https://purpletech.com.br/politica-de-privacidade" class="nav-link">Política de Privacidade</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/souzajr" class="nav-link">GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.behance.net/purpletech" class="nav-link">Behance</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Argon Scripts -->
<!-- Core -->
<script src="/views/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
<% if(message) { %>
<script>
    const msg = JSON.parse('<%- message %>')
    if (msg !== 'Sucesso!')
        alertify.notify(msg, 'error', 5)
    else
        alertify.notify(msg, 'success', 5)
</script>
<% } %>

<!-- Argon JS -->
<script src="/views/assets/js/argon.js?v=1.0.0"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-120240872-1', 'auto');
      ga('send', 'pageview');
</script>
</body>

</html>