<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Desenvolvimento de sites e aplicativos. Ecommerce, institucional, landing page e one-page: tudo o que você precisa. Sua ideia. Seu site.">
  <meta name="author" content="PurpleTech">
  <title>Erro - PurpleTech</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/views/assets/img/brand/favicon.ico">
  <link rel="apple-touch-icon" href="/views/assets/img/brand/apple.png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="/views/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="/views/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="/views/assets/css/argon.min.css" rel="stylesheet">
  <!-- Jquery -->
  <script src="/views/assets/vendor/jquery/dist/jquery.min.js"></script>
</head>

<body class="bg-default">
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-6">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <a class="navbar-brand" href="https://purpletech.com.br">
                <img src="/views/assets/img/brand/logo-white.svg" width="100%" height="60">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <h1><b>ERRO 500</b></h1>
                <small>Alguma coisa deu errado. Se o erro persistir, entre em contato com o suporte.</small><br/><br/>
                <a href="/" class="btn btn-primary btn-block">VOLTAR</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="py-5">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; <script>
              document.write(new Date().getFullYear())
            </script> <a href="https://purpletech.com.br" class="font-weight-bold ml-1">PurpleTech</a>
          </div>
        </div>
        <div class="col-xl-6">
          <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
                <a href="https://purpletech.com.br/politica-de-privacidade/" class="nav-link">Política de Privacidade</a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/souzajr" class="nav-link">GitHub</a>
            </li>
            <li class="nav-item">
              <a href="https://www.behance.net/purpletech" class="nav-link">Behance</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="/views/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Argon JS -->
  <script src="/views/assets/js/argon.js?v=1.0.0"></script>
  </body>
  </html>