<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body{background: skyblue; font-family: Verdana; color: #fff; padding: 30px}
        h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
        p{font-size: 16px; text-align: center;}
    </style>
</head>
<body>
    <h1>Bem-vindo</h1>
    <p>Isso é um teste</p>
    <% for(let i = 0; i < users.length; i++) { %>
        <li><%= users[i].name %> - <%= users[i].email %></li>
    <% } %>
</body>
</html>