<!doctype html>
<html  lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PurpleTech</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" href="https://purpletech.com.br/wp-content/uploads/2018/06/logofav_p01_icon.ico" />
    <link rel="apple-touch-icon" href="https://purpletech.com.br/wp-content/uploads/2018/06/logoapple.png" />
    <!-- Google Fonts
    ============================================ -->
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/semantic.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <!-- font awesome CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/assets/css/owl.theme.css">
    <link rel="stylesheet" href="/static/assets/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/normalize.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/wave/waves.min.css">
    <!-- Notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/notika-custom-icon.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/main.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/static/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    
    <script>
      function inputHandler(masks, max, event) {
        var c = event.target;
        var v = c.value.replace(/\D/g, '');
        var m = c.value.length > max ? 1 : 0;
        VMasker(c).unMask();
        VMasker(c).maskPattern(masks[m]);
        c.value = VMasker.toPattern(v, masks[m]);
      }

      var telMask = ['(99) 9999-99999', '(99) 99999-9999'];
      var tel = document.querySelector('input[attrname=telephone1]');
      VMasker(tel).maskPattern(telMask[0]);
      tel.addEventListener('input', inputHandler.bind(undefined, telMask, 14), false);
    </script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Login Register area Start-->
    <div class="login-content">
        <!-- Login -->
        <% if(page == '/login') {%>
        <div class="nk-block toggled" id="l-login">
        <% } else { %>
        <div class="nk-block" id="l-login">
        <% } %>
          <form action="/login" method="POST" id="login">
            <div class="nk-form">
                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-mail"></i></span>
                    <div class="nk-int-st">
                        <input type="text" class="form-control" name="email" placeholder="E-mail">
                    </div>
                </div>
                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>
                    <div class="nk-int-st">
                        <input type="password" class="form-control" name="password" placeholder="Senha">
                    </div>
                </div>
                <div class="fm-checkbox">
                    <label><input type="checkbox" class="i-checks"> <i></i> Lembrar-me</label>
                </div>
                <a href="javascript:{}" onclick="document.getElementById('login').submit();" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow right-arrow-ant"></i></a>
            </div>

            <div class="nk-navigation nk-lg-ic">
                <a href="#" data-ma-action="nk-login-switch" data-ma-block="#l-register"><i class="notika-icon notika-plus-symbol"></i> <span>Register</span></a>
                <a href="#" data-ma-action="nk-login-switch" data-ma-block="#l-forget-password"><i>?</i> <span>Forgot Password</span></a>
            </div>
          </form>
        </div>

        <!-- Register -->
        <% if(page == '/register') {%>
        <div class="nk-block toggled" id="l-register">
        <% } else { %>
        <div class="nk-block" id="l-register">
        <% } %>
          <form action="/register" method="POST" id="register">
            <div class="nk-form">
                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>
                    <div class="nk-int-st">
                        <input type="text" class="form-control" name="name" placeholder="Nome">
                    </div>
                </div>

                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-mail"></i></span>
                    <div class="nk-int-st">
                        <input type="text" class="form-control" name="email" placeholder="E-mail">
                    </div>
                </div>

                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-phone"></i></span>
                    <div class="nk-int-st">
                        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
                        <input type="text" class="phone form-control" name="phone" placeholder="Telefone">
                        <script>
                          jQuery("input.phone")
                            .mask("(99) 9999-9999?9")
                            .focusout(function (event) {  
                                var target, phone, element;  
                                target = (event.currentTarget) ? event.currentTarget : event.srcElement;  
                                phone = target.value.replace(/\D/g, '');
                                element = $(target);  
                                element.unmask();  
                                if(phone.length > 10) {  
                                    element.mask("(99) 99999-999?9");  
                                } else {  
                                    element.mask("(99) 9999-9999?9");  
                                }  
                          })
                        </script>
                    </div>
                </div>

                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>
                    <div class="nk-int-st">
                        <input type="password" class="form-control" name="password" placeholder="Senha">
                    </div>
                </div>

                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>
                    <div class="nk-int-st">
                        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirmar senha">
                    </div>
                </div>

                <a href="javascript:{}" onclick="document.getElementById('register').submit();" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow"></i></a>
            </div>

            <div class="nk-navigation rg-ic-stl">
                <a href="#" data-ma-action="nk-login-switch" data-ma-block="#l-login"><i class="notika-icon notika-right-arrow"></i> <span>Sign in</span></a>
                <a href="" data-ma-action="nk-login-switch" data-ma-block="#l-forget-password"><i>?</i> <span>Forgot Password</span></a>
            </div>
          </form>
        </div>

        <!-- Forgot Password -->
        <% if(page == '/forgotpassword') {%>
        <div class="nk-block toggled" id="l-forget-password">
        <% } else { %>
        <div class="nk-block" id="l-forget-password">
        <% } %>
          <form action="/forgotpassword" method="POST" id="forgotpassword">
            <div class="nk-form">
                <p class="text-left">Digite o E-mail que você usou para se cadastrar. Enviaremos para você um código para gerar outra senha.</p>

                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-mail"></i></span>
                    <div class="nk-int-st">
                        <input type="text" class="form-control" name="email" placeholder="E-mail">
                    </div>
                </div>

                <a href="javascript:{}" onclick="document.getElementById('forgotpassword').submit();" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow"></i></a>
            </div>

            <div class="nk-navigation nk-lg-ic rg-ic-stl">
                <a href="" data-ma-action="nk-login-switch" data-ma-block="#l-login"><i class="notika-icon notika-right-arrow"></i> <span>Sign in</span></a>
                <a href="" data-ma-action="nk-login-switch" data-ma-block="#l-register"><i class="notika-icon notika-plus-symbol"></i> <span>Register</span></a>
            </div>
          </form>
        </div>
    </div>
    <!-- Login Register area End-->
    <!-- jquery
		============================================ -->
    <script src="/static/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/static/assets/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/static/assets/js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/static/assets/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/static/assets/js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/static/assets/js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="/static/assets/js/counterup/jquery.counterup.min.js"></script>
    <script src="/static/assets/js/counterup/waypoints.min.js"></script>
    <script src="/static/assets/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/static/assets/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="/static/assets/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/static/assets/js/sparkline/sparkline-active.js"></script>
    <!-- flot JS
		============================================ -->
    <script src="/static/assets/js/flot/jquery.flot.js"></script>
    <script src="/static/assets/js/flot/jquery.flot.resize.js"></script>
    <script src="/static/assets/js/flot/flot-active.js"></script>
    <!-- knob JS
		============================================ -->
    <script src="/static/assets/js/knob/jquery.knob.js"></script>
    <script src="/static/assets/js/knob/jquery.appear.js"></script>
    <script src="/static/assets/js/knob/knob-active.js"></script>
    <!--  Chat JS
		============================================ -->
    <script src="/static/assets/js/chat/jquery.chat.js"></script>
    <!--  wave JS
		============================================ -->
    <script src="/static/assets/js/wave/waves.min.js"></script>
    <script src="/static/assets/js/wave/wave-active.js"></script>
    <!-- icheck JS
		============================================ -->
    <script src="/static/assets/js/icheck/icheck.min.js"></script>
    <script src="/static/assets/js/icheck/icheck-active.js"></script>
    <!--  todo JS
		============================================ -->
    <script src="/static/assets/js/todo/jquery.todo.js"></script>
    <!-- Login JS
		============================================ -->
    <script src="/static/assets/js/login/login-action.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/static/assets/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/static/assets/js/main.js"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
    <% if(message) { %>
      <script>
          const msg = JSON.parse('<%- message %>')
          if(msg !== 'Success!')
              alertify.notify(msg, 'error', 5)
          else
              alertify.notify(msg, 'success', 5)
      </script>
    <% } %>
</body>
</html>