<% if(page == '/dashboard' || page == '/project') { %>
<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block">Projetos</a>
<% } else if(page == '/profile') { %>
<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block">Perfil</a>
<% } %>