<%- include content/budget-modal.ejs %>

<footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
                &copy; <script>
                    document.write(new Date().getFullYear())
                </script> <a href="https://purpletech.com.br" class="font-weight-bold ml-1" target="_blank">PurpleTech</a>
            </div>
        </div>
        <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                <li class="nav-item">
                    <a href="https://purpletech.com.br/politica-de-privacidade/" class="nav-link" target="_blank">Política de Privacidade</a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/souzajr" class="nav-link" target="_blank"> GitHub</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.behance.net/purpletech" class="nav-link" target="_blank"> Behance</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</div>
</div>
<!-- Core -->
<script src="/views/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/views/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="/views/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<script src="/views/assets/vendor/lavalamp/js/jquery.lavalamp.min.js"></script>
<script src="/views/assets/vendor/js-cookie/js.cookie.js"></script>

<% if(!user.admin || page == '/budget') { %>
    <script src="/views/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/views/assets/vendor/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script>
        $('#data').datepicker({
            format: 'dd/mm/yy',
            language: 'pt-BR',
            startDate: '+0'
        })
    </script>
<% } %>

<% if(page == '/project') { %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery')
</script>
<% } %>

<% if(page == '/allprojects' || page == '/projectconfig' || page == '/users') { %>
<script src="/views/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/views/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#datatable-basic').DataTable();
    })
</script>
<% } %>

<% if(page == '/budget') { %>
<script src="/views/assets/vendor/select2/dist/js/select2.min.js"></script>
<% } %>




<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
<% if(page == '/support') { %>
    <script>
        function showVideo(videoLink) {
            alertify.YoutubeDialog || alertify.dialog('YoutubeDialog',function(){
                var iframe;
                return {
                    // dialog constructor function, this will be called when the user calls alertify.YoutubeDialog(videoId)
                    main:function(videoId){
                        //set the videoId setting and return current instance for chaining.
                        return this.set({ 
                            'videoId': videoId
                        });
                    },
                    // we only want to override two options (padding and overflow).
                    setup:function(){
                        return {
                            options:{
                                //disable both padding and overflow control.
                                padding : !1,
                                overflow: !1,
                            }
                        };
                    },
                    // This will be called once the DOM is ready and will never be invoked again.
                    // Here we create the iframe to embed the video.
                    build:function(){           
                        // create the iframe element
                        iframe = document.createElement('iframe');
                        iframe.frameBorder = "no";
                        iframe.width = "100%";
                        iframe.height = "100%";
                        // add it to the dialog
                        this.elements.content.appendChild(iframe);
    
                        //give the dialog initial height (half the screen height).
                        this.elements.body.style.minHeight = screen.height * .5 + 'px';
                    },
                    // dialog custom settings
                    settings:{
                        videoId:undefined
                    },
                    // listen and respond to changes in dialog settings.
                    settingUpdated:function(key, oldValue, newValue){
                        switch(key){
                        case 'videoId':
                                iframe.src = "https://www.youtube.com/embed/" + newValue + "?enablejsapi=1";
                            break;   
                        }
                    },
                    // listen to internal dialog events.
                    hooks:{
                        // triggered when the dialog is closed, this is seperate from user defined onclose
                        onclose: function(){
                            iframe.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}','*');
                        },
                        // triggered when a dialog option gets update.
                        // warning! this will not be triggered for settings updates.
                        onupdate: function(option,oldValue, newValue){
                            switch(option){
                                case 'resizable':
                                    if(newValue){
                                        this.elements.content.removeAttribute('style');
                                        iframe && iframe.removeAttribute('style');
                                    }else{
                                        this.elements.content.style.minHeight = 'inherit';
                                        iframe && (iframe.style.minHeight = 'inherit');
                                    }
                                break;    
                            }    
                        }
                    }
                };
            });
            //show the dialog
            alertify.YoutubeDialog(videoLink).set({frameless:true});
        }
    </script>
    <% } %>
<% if(message) { %>
<script>
    const msg = JSON.parse('<%- message %>')
    if (msg !== 'Sucesso!')
        alertify.notify(msg, 'error', 5)
    else
        alertify.notify(msg, 'success', 5)
</script>
<% } %>

<!-- Argon JS -->
<script src="/views/assets/js/argon.min.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-120240872-1', 'auto');
      ga('send', 'pageview');
</script>
</body>
</html>