<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Desenvolvimento de sites e aplicativos. Ecommerce, institucional, landing page e one-page: tudo o que você precisa. Sua ideia. Seu site.">
  <meta name="author" content="PurpleTech">
  <title>PurpleTech</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/views/assets/img/brand/favicon.ico">
  <link rel="apple-touch-icon" href="/views/assets/img/brand/apple.png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="/views/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="/views/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- CSS Alertify -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css" />
  <!-- Default theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css" />
  <!-- Semantic UI theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/semantic.min.css" />
  <!-- Bootstrap theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="/views/assets/css/argon.min.css" rel="stylesheet"> 
  <!-- Jquery -->
  <script src="/views/assets/vendor/jquery/dist/jquery.min.js"></script> 
  <% if(page == '/project') { %>
  <link rel="stylesheet" href="/views/assets/vendor/gallery/gallery-grid.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
  <% } %>
  
</head>

<body>