<div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="logo-area">
                        <a href="/dashboard"><h2 style="color:#fff">PurpleTech</h2></a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="header-top-menu">
                    <ul class="nav navbar-nav notika-top-nav">
                        <li class="nav-item dropdown">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                <span><i class="notika-icon notika-alarm"></i></span>
                            </a>
                            <div role="menu" class="dropdown-menu message-dd animated zoomIn">
                                <div class="hd-mg-tt">
                                    <h2>Avisos</h2>
                                </div>
                                <div class="hd-message-info">
                                    <a href="#">
                                        <div class="hd-message-sn">
                                            <div class="hd-mg-ctn">
                                                <h3>Não há avisos</h3>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="hd-mg-va">
                                        <a href="/notice">Ver tudo</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                <span><i class="notika-icon notika-mail"></i></span>
                            </a>
                            <div role="menu" class="dropdown-menu message-dd animated zoomIn">
                                <div class="hd-mg-tt">
                                    <h2>Mensagens</h2>
                                </div>
                                <div class="hd-message-info">
                                    <a href="#">
                                        <div class="hd-message-sn">
                                            <div class="hd-mg-ctn">
                                                <h3>Não há mensagens</h3>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="hd-mg-va">
                                        <a href="/message">Ver tudo</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                <span><img src="<%= user.avatar %>" class="user-image" alt="User Image"></span>
                            </a>
                            <div role="menu" class="dropdown-menu message-dd animated zoomIn">
                                <div class="hd-mg-tt">
                                    <h2><%= user.name %></h2>
                                </div>
                                <div class="hd-message-info">
                                    <a href="/profile">
                                        <div class="hd-message-sn">
                                            <div class="hd-mg-ctn">
                                                <p>Editar perfil</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="hd-message-info">
                                    <a href="/logout">
                                        <div class="hd-message-sn">
                                            <div class="hd-mg-ctn">
                                                <p>Sair</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>