<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PurpleTech</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" href="https://purpletech.com.br/wp-content/uploads/2018/06/logofav_p01_icon.ico" />
    <link rel="apple-touch-icon" href="https://purpletech.com.br/wp-content/uploads/2018/06/logoapple.png" />
    <!-- Google Fonts
    ============================================ -->
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/semantic.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/static/assets/css/jquery.dataTables.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/assets/css/owl.theme.css">
    <link rel="stylesheet" href="/static/assets/css/owl.transitions.css">
    <!-- meanmenu CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/normalize.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- jvectormap CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/jvectormap/jquery-jvectormap-2.0.3.css">
    <!-- notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/notika-custom-icon.css">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/wave/waves.min.css">
    <link rel="stylesheet" href="/static/assets/css/wave/button.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/main.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/static/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- bootstrap select CSS
		============================================ -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap-select/bootstrap-select.css">
</head>