<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- SEO -->
  <meta name="description" content="Desenvolvimento de sites e aplicativos. Ecommerce, institucional, landing page e one-page: tudo o que você precisa. Sua ideia. Seu site." />
  <link rel="canonical" href="https://app.purpletech.com.br/" />
  <meta property="og:locale" content="pt_BR" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="PurpleTech - Soluções Web" />
  <meta property="og:description" content="Desenvolvimento de sites e aplicativos. Ecommerce, institucional, landing page e one-page: tudo o que você precisa. Sua ideia. Seu site." />
  <meta property="og:url" content="https://app.purpletech.com.br/" />
  <meta property="og:site_name" content="PurpleTech" />
  <meta property="og:image" content="https://purpletech.com.br/wp-content/uploads/revslider/webdeveloper/home_webdeveloper_slider_bg.jpg" />
  <meta property="og:image:secure_url" content="https://purpletech.com.br/wp-content/uploads/revslider/webdeveloper/home_webdeveloper_slider_bg.jpg" />
  <meta property="og:image:width" content="1920" />
  <meta property="og:image:height" content="977" />
  <meta property="og:image:alt" content="Desenvolvimento de sites e aplicativos" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="Desenvolvimento de sites e aplicativos. Ecommerce, institucional, landing page e one-page: tudo o que você precisa. Sua ideia. Seu site." />
  <meta name="twitter:title" content="PurpleTech" />
  <meta name="twitter:image" content="https://purpletech.com.br/wp-content/uploads/revslider/webdeveloper/home_webdeveloper_slider_bg.jpg" />
  <meta name="author" content="PurpleTech">
  <!-- /SEO-->
  <title>PurpleTech</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/views/assets/img/brand/favicon.ico">
  <link rel="apple-touch-icon" href="/views/assets/img/brand/apple.png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="/views/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="/views/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- CSS Alertify -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css" />
  <!-- Default theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css" />
  <!-- Semantic UI theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/semantic.min.css" />
  <!-- Bootstrap theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="/views/assets/css/argon.min.css" rel="stylesheet" /> 
  <% if(page == '/project') { %>
  <link rel="stylesheet" href="/views/assets/vendor/gallery/gallery-grid.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css" />
  <% } %>
  <% if(page == '/allprojects') { %>
  <link rel="stylesheet" href="/views/assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css" />
  <link rel="stylesheet" href="/views/assets/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" />
  <link rel="stylesheet" href="/views/assets/vendor/datatables.net-select/css/select.bootstrap4.min.css" />
  <% } %>
  <% if(page == '/budget') { %>
  <link rel="stylesheet" href="/views/assets/vendor/select2/dist/css/select2.min.css" />
  <% } %>
  <!-- Jquery -->
  <script src="/views/assets/vendor/jquery/dist/jquery.min.js"></script> 
</head>

<body>