<% if(page == '/dashboard') { %>
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="/messages">
            <i class="fa fa-envelope"></i> <span> Messages</span>
        </a>
    </li>
    <% } else if(page == '/messages') { %>  
    <li>
        <a href="/dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-envelope"></i> <span> Messages</span>
        </a>
    </li>
    <% } else { %>
    <li>
        <a href="/dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="/messages">
            <i class="fa fa-envelope"></i> <span> Messages</span>
        </a>
    </li>  
<% } %>