<div class="form-element-area">
    <div class="container">
        <div class="row">
            <form action="/budget" method="POST">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list">
                    <div class="basic-tb-hd">
                        <h2>Plataforma</h2>
                        <p>Escolha abaixo as plataformas em que você pretende lançar sua aplicação</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="fm-checkbox">
                                <label><input type="checkbox" name="web" class="i-checks"> <i></i> Site (web)</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="fm-checkbox">
                                <label><input type="checkbox" name="app" class="i-checks"> <i></i> Aplicativo
                                    (iOS/Android)</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="fm-checkbox">
                                <label><input type="checkbox" name="desktop" class="i-checks"> <i></i> Desktop
                                    (software)</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list mg-t-30">
                    <div class="basic-tb-hd">
                        <h2>Informações do projeto</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-edit"></i>
                                </div>
                                <div class="nk-int-st">
                                    <input type="text" name="name" class="form-control" placeholder="Nome do projeto">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-dollar"></i>
                                </div>
                                <div class="nk-int-st">
                                    <input type="text" name="budget" onkeyup="maskIt(this,event,'###.###.###,##',true,{pre:'R$', pos:''})"
                                        class="form-control" placeholder="Orçamento para o projeto">
                                    <script src="/static/assets/js/mask/money.js"></script>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="bootstrap-select ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-form"></i>
                                </div>
                                <div class="nk-int-st">
                                    <select name="category" class="selectpicker" multiple>
                                        <option>Loja Online</option>
                                        <option>Blog</option>
                                        <option>Institucional</option>
                                        <option>Portal de Notícias</option>
                                        <option>ERP</option>
                                        <option>Outro</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-calendar"></i>
                                </div>
                                <div class="nk-int-st">
                                    <input type="text" name="deadline" class="form-control" data-mask="99/99/9999" placeholder="Prazo do projeto">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list">
                    <div class="basic-tb-hd">
                        <p>Por favor, descreva seu projeto. Quanto mais detalhes, melhor</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="nk-int-st">
                                    <textarea name="description" class="form-control" rows="3" placeholder="Descrição do projeto"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list mg-t-30">
                    <div class="basic-tb-hd" align="center">
                        <p>Tudo pronto? Envie sua solicitação de orçamento, entraremos em contato para conversar com você</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
                            <button type="submit" class="btn notika-btn-purple btn-reco-mg btn-button-mg waves-effect" style="color:#fff">Enviar orçamento</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>