<div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        <% if(page == '/dashboard' || page == '/budget' || page == '/project') { %>
                        <li class="active"><a data-toggle="tab" href="#Home"><i class="notika-icon notika-house"></i> Home</a></li>
                        <% } else { %>
                        <li><a data-toggle="tab" href="#Home"><i class="notika-icon notika-house"></i> Home</a></li>
                        <% } %>
    
                        <% if(page == '/message') { %>
                        <li class="active"><a data-toggle="tab" href="#Mailbox"><i class="notika-icon notika-mail"></i> Mensagens</a></li>
                        <% } else { %>
                        <li><a data-toggle="tab" href="#Mailbox"><i class="notika-icon notika-mail"></i> Mensagens</a></li>
                        <% } %>
                            
                        <% if(page == '/invoice') { %>
                        <li class="active"><a data-toggle="tab" href="#Invoice"><i class="notika-icon notika-bar-chart"></i> Faturas</a></li>
                        <% } else { %>
                        <li><a data-toggle="tab" href="#Invoice"><i class="notika-icon notika-bar-chart"></i> Faturas</a></li>
                        <% } %>
    
                        <% if(page == '/support') { %>
                        <li class="active"><a data-toggle="tab" href="#Support"><i class="notika-icon notika-support"></i> Suporte</a></li>
                        <% } else { %>
                        <li><a href="/support"><i class="notika-icon notika-support"></i> Suporte</a></li>
                        <% } %>        
                    </ul>
                    <div class="tab-content custom-menu-content">
                        <% if(page == '/dashboard') { %>
                        <div id="Home" class="tab-pane in active notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="#">Projetos</a>
                                <li><a href="/budget">Solicitar novo orçamento</a>
                            </ul>
                        </div>
                        <% } else { %>
                        <div id="Home" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="/dashboard">Projetos</a>
                                <li><a href="/budget">Solicitar novo orçamento</a>
                            </ul>
                        </div>
                        <% } %>

                        <% if(page == '/budget') { %>
                        <div id="Home" class="tab-pane in active notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="/dashboard">Projetos</a>
                                <li><a href="#">Solicitar novo orçamento</a>
                            </ul>
                        </div>
                        <% } else { %>
                        <div id="Home" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="/dashboard">Projetos</a>
                                <li><a href="/budget">Solicitar novo orçamento</a>
                            </ul>
                        </div>
                        <% } %>

                        <% if(page == '/project') { %>
                        <div id="Home" class="tab-pane in active notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="/dashboard">Projetos</a>
                                <li><a href="/budget">Solicitar novo orçamento</a>
                            </ul>
                        </div>
                        <% } else { %>
                        <div id="Home" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="/dashboard">Projetos</a>
                                <li><a href="/budget">Solicitar novo orçamento</a>
                            </ul>
                        </div>
                        <% } %>
    
                        <% if(page == '/message') { %>
                        <div id="Mailbox" class="tab-pane in active notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="#">Mensagens</a>
                                <li><a href="/notice">Avisos</a>
                            </ul>
                        </div>
                        <% } else { %>
                        <div id="Mailbox" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="/message">Mensagens</a>
                                <li><a href="/notice">Avisos</a>
                            </ul>
                        </div>
                        <% } %>
    
                        <% if(page == '/notice') { %>
                        <div id="Notice" class="tab-pane in active notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="/message">Mensagens</a>
                                <li><a href="#">Avisos</a>
                            </ul>
                        </div>
                        <% } else { %>
                        <div id="Notice" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="/message">Mensagens</a>
                                <li><a href="/notice">Avisos</a>
                            </ul>
                        </div>
                        <% } %>
    
                        <% if(page == '/invoice') { %>
                        <div id="Invoice" class="tab-pane in active notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="#">Faturas</a>
                            </ul>
                        </div>
                        <% } else { %>
                        <div id="Invoice" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="/invoice">Faturas</a>
                            </ul>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
      </div>