<div class="tabs-info-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="widget-tabs-int">
                    <div class="tab-hd">
                        <h2>#<%= project._id %> - <%= project.name %></h2>
                        <p><%= project.description %></p>
                    </div>
                    <div class="widget-tabs-list">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Detalhes do
                                    projeto</a></li>
                            <li class=""><a data-toggle="tab" href="#task" aria-expanded="false">Tarefas</a></li>
                            <li class=""><a data-toggle="tab" href="#archive" aria-expanded="false">Arquivos</a></li>
                            <li class=""><a data-toggle="tab" href="#invoice" aria-expanded="false">Faturas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="widget-tabs-int mg-t-30">
                    <div class="tab-content tab-custom-st">
                        <div id="details" class="tab-pane fade active in">
                            <div class="tab-ctn">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="tpgp-ele-tx">
                                        Conteudo...
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="tpgp-ele-tx">
                                        Conteudo...
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="task" class="tab-pane fade">
                            <div class="tab-ctn">
                                Conteudo...
                            </div>
                        </div>
                        <div id="archive" class="tab-pane fade">
                            <div class="tab-ctn">
                                Conteudo...
                            </div>
                        </div>
                        <div id="invoice" class="tab-pane fade">
                            <div class="tab-ctn">
                                Conteudo...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>