<div class="container-fluid mt--8">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <!-- Card image -->
                <img class="card-img-top" src="/views/assets/img/theme/support/purpletech-alterar-banner.jpg">
                <!-- Card body -->
                <div class="card-body">
                  <h5 class="h2 card-title mb-0">Alterar Banner</h5>
                  <small class="text-muted">Por Roberto Souza - 05/01/2019</small>
                  <p class="card-text mt-4">Aprenda a alterar, excluir e adicionar banners no seu site.</p>
                  <a href="javascript:showVideo('qJKazati6o8')" class="btn btn-link px-0">Ver vídeo</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <!-- Card image -->
                <img class="card-img-top" src="/views/assets/img/theme/support/purpletech-produto-simples.jpg">
                <!-- Card body -->
                <div class="card-body">
                  <h5 class="h2 card-title mb-0">Adicionar produto simples</h5>
                  <small class="text-muted">Por Roberto Souza - 05/01/2019</small>
                  <p class="card-text mt-4">Aprenda a adicionar e configurar produtos simples no seu e-Commerce.</p>
                  <a href="javascript:showVideo('vUGuDDEow30')" class="btn btn-link px-0">Ver vídeo</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <!-- Card image -->
                <img class="card-img-top" src="/views/assets/img/theme/support/purpletech-produto-variavel.jpg">
                <!-- Card body -->
                <div class="card-body">
                  <h5 class="h2 card-title mb-0">Adicionar produto variável</h5>
                  <small class="text-muted">Por Roberto Souza - 05/01/2019</small>
                  <p class="card-text mt-4">Aprenda a adicionar e configurar produtos variáveis no seu e-Commerce.</p>
                  <a href="javascript:showVideo('4Yrk-yZUJTU')" class="btn btn-link px-0">Ver vídeo</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <!-- Card image -->
                <img class="card-img-top" src="/views/assets/img/theme/support/purpletech-produto-virtual.jpg">
                <!-- Card body -->
                <div class="card-body">
                  <h5 class="h2 card-title mb-0">Adicionar produto digital/baixável</h5>
                  <small class="text-muted">Por Roberto Souza - 05/01/2019</small>
                  <p class="card-text mt-4">Aprenda a adicionar e configurar produtos digitais e baixáveis no seu e-Commerce.</p>
                  <a href="javascript:showVideo('jh4x2IuxiHY')" class="btn btn-link px-0">Ver vídeo</a>
                </div>
              </div>
        </div>
    </div>