<div class="container-fluid mt--8">
    <div class="row justify-content-center">
        <div class="col-lg-8 card-wrapper">
            <div class="card">
                <div class="card-header">
                    <div class="col-8">
                        <h3 class="mb-0">Ops... </h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="alert alert-danger" role="alert">
                        <span class="alert-icon"><i class="fas fa-exclamation-triangle"></i></span>
                        <span class="alert-text">Essa página ainda está em construção</span>
                    </div>
                </div>
            </div>
        </div>
    </div>